<div class="d-flex flex-column align-items-center">
    <h1 class="text-center my-5">Error al iniciar sesión</h1>
    <a class="btn btn-primary" href="/login">Volver al inicio</a>
</div>

<div class='container'>
    <div class='row'>
        <div class='col text-center'>
            <img src='/img/vectors/server_down.svg' alt='404' class='img-fluid' style='margin-top: 90px;' />

        </div>
    </div>
</div>