<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4 d-flex align-items-center justify-content-center'>
			<a class="" href="#">
				<img src="/img/letraU.png" alt="Logo" width="256" height="256" class="d-inline-block align-text-top">
			</a>
		</div>
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Restablecer contrase単a</h1>
            
			<p>{{newUser.first_name}}, por favor ingrese una nueva contrase単a.</p>
			<form action='/api/mails/restore-password/uid/{{newUser._id}}' method='post'>
				<div class='row'>					
					<div class='col-12'>
						<input type='password' class='form-control' placeholder='Nueva contrase単a' aria-label='Contrase単a'
							name='password' />
					</div>
					<button type='submit' class='btn btn-primary col-12 my-2'>Enviar</button>					
				</div>
			</form>
		</div>
	</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src='/js/main.js'></script>