<section class="container">
    <div class="row bg-light login-section">
        <div class="col-12">
            <h1 class="text-center">Registro</h1>
        </div>
        <div class="col-12">
            {{!-- <h1>Registro nuevo usuario</h1> --}}
            <form action="/api/user/" method="post">
                <div class="row">
                    <div class="col-6">
                        <input 
                        type="text" 
                        class="form-control" 
                        name="first_name" 
                        placeholder="Nombre"
                        />
                    </div>
                    <div class="col-6">
                        <input
                        type="text"
                        class="form-control"
                        name="last_name"
                        placeholder="Apellido"
                        />
                    </div>
                    <div class="col-6">
                        <input
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Correo"
                        />
                    </div>
                    <div class="col-6">
                        <input 
                        type="password" 
                        class="form-control" 
                        name="password" 
                        placeholder="Contraseña"
                        />
                    </div>
                    <div class="col-12">
                        <input
                        type="text"
                        class="form-control"
                        name="img"
                        placeholder="Imagen"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary col-12 mt-3"  >Registrarme</button>
                </div>
            </form>
        </div>
</section>